.couple {
    &__wrapper {
        min-height: 512px;
        justify-content: center;
        
    }
    &__img {
        float: left;
        width: 50%;
        height: 100%;
        min-height: 512px;
        background: url(../img/img-side2.jpg) center (center/cover) no-repeat;
        
    }
    &__descr {
        padding: 51px 0;
        min-height: 512px;;
        background-color: #FDB913;
        &__title {
            margin-bottom: 25px;
            font-weight: 300;
            font-size: 35px;
            line-height: 45px;
            color: #ffffff;
        }
        &__subtitle {
            font-weight: 300;
            font-size: 16px;
            line-height: 25px;
            color: #ffffff;
        }
    }
}